<ul class="list-group">
    <br>
    <div class="panel panel-default">
      <div class="panel-heading">

        <h3 class="panel-title"></h3>
        Home
      </div>
      <div class="panel-body">
        <img src={{schedule.logo}} width=50/><br><a href={{schedule.url}}>{{schedule.home}}</a>
      </div>

      <div class="panel-heading">
        <h3 class="panel-title"></h3>
        Away
      </div>
      <div class="panel-body">
        <img src={{schedule.away_logo}} width=50/><br><a href={{schedule.away_url}}>{{schedule.away}}</a>
      </div>
    </div>

  <li class="list-group-item">Round: {{schedule.round}}</li>


  <li class="list-group-item">Date: {{schedule.date}}</li>
 <li class="list-group-item">Day: {{schedule.day}}</li>
  <li class="list-group-item">Time: {{schedule.time}}</li>
  <li class="list-group-item">Stadium: {{schedule.stadium}}</li>
  <li class="list-group-item">Location: {{schedule.location}}</li>
  <li class="list-group-item">Captain: {{schedule.captain}}</li>
  <li class="list-group-item">Away captain: {{schedule.away_captain}}</li>
<br>

</ul>
